Basic_Neural_Network.ipynb
Checkpoints_Exporting_Importing-DeepLearning_Tabular.ipynb
DeepLearning_Tabular_IBM_Employee.ipynb
Encoding_Categorical_Ramen_Ratings.ipynb
LogisticRegression_vs_NeuralNet.ipynb
RandomForest_vs_DeepLearning.ipynb
Standardization_HR.ipynb
SVM_vs_DeepLearning.ipynb
trained_attrition.h5
.ipynb_checkpoints/Basic_Neural_Network-checkpoint.ipynb
.ipynb_checkpoints/Checkpoints_Exporting_Importing-DeepLearning_Tabular-checkpoint.ipynb
.ipynb_checkpoints/DeepLearning_Tabular_IBM_Employee-checkpoint.ipynb
.ipynb_checkpoints/Encoding_Categorical_Ramen_Ratings-checkpoint.ipynb
.ipynb_checkpoints/LogisticRegression_vs_NeuralNet-checkpoint.ipynb
.ipynb_checkpoints/RandomForest_vs_DeepLearning-checkpoint.ipynb
.ipynb_checkpoints/Standardization_HR-checkpoint.ipynb
.ipynb_checkpoints/SVM_vs_DeepLearning-checkpoint.ipynb
checkpoints/weights.29.hdf5
checkpoints/weights.58.hdf5
checkpoints/weights.86.hdf5
Resources/bank_telemarketing.csv
Resources/diabetes.csv
Resources/hr_dataset.csv
Resources/HR-Employee-Attrition.csv
Resources/loan_status.csv
Resources/ramen-ratings.csv
checkpoints/weights.05.hdf5
checkpoints/weights.10.hdf5
checkpoints/weights.15.hdf5
checkpoints/weights.20.hdf5
checkpoints/weights.25.hdf5
checkpoints/weights.30.hdf5
checkpoints/weights.35.hdf5
checkpoints/weights.40.hdf5
checkpoints/weights.45.hdf5
checkpoints/weights.50.hdf5
